.container{
    width: 377px;
    margin: 26px;
}

.containerBody{
    background: #F2F2F2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    padding: 28px;
    font-family: 'Poppins';
}
.paragraph {
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    width: 306px;
    line-height: 33px;
}