
.footer{
    background: #161622;
    padding: 46px;
    width: 428px;
    /* height: 200vh; */
}
.heading {
    background: #AFEEEE;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    color: #F170D3;
    display: flex;
}
.footerLink{ 
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
} 

.footerHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #20C6C6;
}

.footerContent {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 14px;
    width: 365px;
} 


