.container {
    width: 428px;
    height: 272px;
    background: #AFEEEE;
}

.containerHeading{
    position: absolute;
    width: 217px;
    height: 36px;
    left: 107px;
    top: 110px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #161622;
}

.containerpara {
    position: absolute;
    width: 209px;
    height: 60px;
    left: 109px;
    top: 149px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161622;
}

.signupOtpForm{
    border-bottom: 1.5px solid #000000;
    display: inline-block;
    font-family: 'Poppins';
    height: 1px;
    padding: 17px;
    padding-bottom: 38px;
    color: #B6B6B6;
    position: relative;
    left: 41px;
}


.placeholder{
    border: none;
    position: relative;
    left: -30px;
    top: 10px;
    font-weight: 700;
    width: 270px;
    }

