html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel-control-prev-icon{
  display: none !important;
}
.carousel-control-next-icon{
  display: none !important;
}
.carousel-indicators{
  display: none !important;
}

.Home_container__bCOhY {
  padding: 0rem;
}
.form-check-input {
  width: 28px !important;
  height: 28px !important;
  
}
.form-check-input[type=checkbox] {
  border-radius: 0 !important;
  border: 1px solid #000000 !important;
}

.offcanvas-header .btn-close {
  position: relative !important;
    right: 35px !important;
    top:-64px !important;
}

.btn-close {
  opacity: 1 !important;
}