.container{
    width: 428px;
    height: 213px;
    border-bottom: 2px solid white;
    background: #20C6C6;
}

.containerHeading{
    /* background: red; */
    width: 336px;
    margin: auto;
    padding: 23px;
    text-align: center;
    font-family: 'poppins';
}
