.navContainer {
    width: 178px;
    background: #AFEEEE;
}

.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #F170D3;
}

.offcanvasHeader {
    /* background: red; */
    height: 110px;
    width: 100%;
    padding: 23px;
    position: relative;
    top: -30px;
}

.sideLink {
    text-decoration: none;
    color: #161622;
    font-weight: 500;
    font-size: 20px;
}

.sideLinks {
    text-decoration: none;
    color: #161622;
    font-weight: 400;
    font-size: 20px;
    padding-left: 14px;
}