.navContainer {
    width: 178px;
    background: #AFEEEE;
}

.heading {
    padding: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #F170D3;
}
