.container {
    width: 428px;
    height: 272px;
    background: #AFEEEE;
    font-family: 'Poppins';
    font-weight: 500;
    color: #161622;
    text-align: center;
    position: relative;
}

  .containerHeading {
    width: 350px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .otp{
    display:inline-block;
    width:56px;
    height:74px;
    text-align:center;
    margin: 12px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
  }

