.container {
    width: 428px;
    height: 272px;
    background: #AFEEEE;
    font-family: 'Poppins';
    font-weight: 500;
    color: #161622;
    text-align: center;
    position: relative;
}

  .containerHeading {
    width: 350px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.signupOtpForm{
    border-bottom: 1.5px solid #000000;
    display: inline-block;
    font-family: 'Poppins';
    height: 1px;
    padding: 17px;
    padding-bottom: 38px;
    color: #B6B6B6;
    position: relative;
    left: 55px;
}


.placeholder{
    border: none;
    position: relative;
    left: -30px;
    top: 10px;
    font-weight: 700;
    width: 270px;
    }

