.container {
    width: 428px;
    height: 272px;
    background: #AFEEEE;
}

.containerHeading{
position: absolute;
width: 92px;
height: 36px;
left: 168px;
top: 87px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #161622;
}

.containerpara {
    position: absolute;
    width: 209px;
    height: 60px;
    left: 109px;
    top: 149px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161622;
}

