.container {
    /* position: absolute; */
    width: 428px;
    height: 272px;
    /* left: 0px; */
    /* top: 34px; */
    background: #AFEEEE;
}

.containerHeading{
position: absolute;
width: 92px;
height: 36px;
left: 168px;
top: 87px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */
color: #161622;
}

.containerpara {
    position: absolute;
    width: 209px;
    height: 60px;
    left: 109px;
    top: 149px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161622;
}





/* .signupOtpForm{
    position: absolute;
    font-size: 20px;
    font-family: poppins;
    top: 584px;
    left: 104px;
    border-bottom: 1px solid #000000;
    width: 222px;
}

.signupOtpForm input{
    border: none;
}

.signupOtpForm input:hover{
    border: none;
}

.check {
    box-sizing: border-box;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 33px;
    top: 732px;
    border: 1px solid #000000;
}
.para {
    position: absolute;
    width: 325px;
    height: 21px;
    left: 75px;
    top: 736px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #161622;
}

.signupbuttonsection {
    position: absolute;
    width: 133px;
    height: 34px;
    left: 83px;
    top: 797px;
    background: #F170D3;
    border-radius: 10px;
}

.signupOrPara {
    position: absolute;
    width: 24px;
    height: 30px;
    left: 238px;
    top: 801px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #161622;
} */
