.sliderContainer {
    width: 428px;
    height: 253px;
    left: 0px;
    top: 0px;
}

/* Sale of the season */

.firstslideheading {
    position: relative;
    width: 204px;
    height: 29px;
    left: -39px;
    top: -94px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.firstslidetitle {
    position: absolute;
    width: 178px;
    left: -40px;
    top: -30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.firstslideoffer {
    position: absolute;
    width: 276px;
    height: 45px;
    left: -25px;
    bottom: 11px;
    font-family: 'Poppins';
    top: 28px;
    background: #AFEEEE;
    border-radius: 20px;
}

.offer{
    font-weight: 700;
    font-size: 16px;
    line-height: 43px;
    color: #161622;
}
