.TshirtsHeading {
    position: absolute;
    width: 362px;
    height: 30px;
    left: 36px;
    top: 1299px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161622;
}