.tContainer{
    width: 20rem !important;
    background: #FFFFFF !important;
    border: 1px solid #F2F2F2 !important;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%) !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
    height: 60vh;
    position: relative;
}

.description{
position: relative;
top: -27px;
font-weight: 500;
font-size: 16px;
color: #919191;
}

.forher{
width: 234px;
    /* position: relative; */
    /* top: 50px; */
    padding: 15px;
    height: 81px;
    /* left: 34px; */
    background-color: rgb(32, 198, 198);
    margin: 34px;
}